<header>
  <ul class="nav">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="https://jkalan.medium.com/">Blog</a>
    </li>
    <li>
      <a href="https://jaykalan.contently.com/">Portfolio</a>
    </li>
  </ul>
  <h2>{{ title }}</h2>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
